<div class="bg-teal-400 h-full" *ngIf="!New">
	<h1 class="text-3xl text-white flex justify-center pt-10 mb-10">
		Trip Itinerary Items
	</h1>
	<div *ngFor="let event of Events | async; trackBy: identifyEvent">
		<a
			class="bg-teal-200 flex justify-between mt-3 py-4 shadow-lg mx-96 px-4"
			[routerLink]="['event', event.id]"
		>
			<p class="font-bold">{{ event.name }}</p>
			<p>R{{ event.cost }}</p>
		</a>
	</div>
	<a
		class="bg-teal-500 flex justify-center mt-3 py-4 shadow-lg mx-96"
		(click)="createToggle()"
	>
		ADD
	</a>
</div>

<div class="bg-teal-400 h-full" *ngIf="New">
	<div class="h-screen bg-teal-400 flex justify-center items-center">
		<div class="lg:w-2/5 md:w-1/2 w-2/3">
			<div
				class="bg-teal-200 h-full p-10 rounded-lg shadow-lg"
				*ngIf="New"
			>
				<button
					(click)="createToggle()"
					class="bg-teal-400 px-10 py-3 rounded-xl"
				>
					Back
				</button>
				<h1 class="text-3xl text-white flex justify-center pt-10 mb-10">
					Add New Trip
				</h1>
				<form [formGroup]="newEventForm!">
					<p
						class="text-gray-800 font-semibold text-md flex justify-center"
					>
						Item Name:
					</p>
					<input
						formControlName="name"
						class="flex justify-center w-full rounded-xl h-8 mb-4 mt-4 text-center"
					/>
					<p
						class="text-gray-800 font-semibold text-md flex justify-center"
					>
						Item tag
					</p>
					<select
						formControlName="tag"
						class="flex justify-center w-full rounded-xl h-8 mb-4 mt-4 text-center"
					>
						<option value="Travel Event">Travel Event</option>
						<option value="Destination Event">
							Destination Event
						</option>
					</select>
					<p
						class="text-gray-800 font-semibold text-md flex justify-center"
					>
						Start Date:
					</p>
					<input
						type="datetime-local"
						formControlName="startTime"
						class="flex justify-center w-full rounded-xl h-8 mb-4 mt-4 text-center"
					/>
					<p
						class="text-gray-800 font-semibold text-md flex justify-center"
					>
						End Date:
					</p>
					<input
						type="datetime-local"
						formControlName="endTime"
						class="flex justify-center w-full rounded-xl h-8 mb-4 mt-4 text-center"
					/>
					<p
						class="text-gray-800 font-semibold text-md flex justify-center"
					>
						Item cost in rands
					</p>
					<input
						formControlName="cost"
						class="flex justify-center w-full rounded-xl h-8 mb-4 mt-4 text-center"
						type="number"
					/>
					<div class="flex justify-center">
						<button
							(click)="createEvent()"
							class="bg-teal-400 px-10 py-3 rounded-xl"
						>
							Create
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
