<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
	<div class="flex items-center flex-shrink-0 text-white mr-6 lg:hidden">
		<span class="font-semibold text-xl tracking-tight"
			>Holiday Planner</span
		>
	</div>
	<div class="block lg:hidden">
		<button
			class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white"
			(click)="toggleNav()"
		>
			<svg
				class="fill-current h-3 w-3"
				viewBox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>Menu</title>
				<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
			</svg>
		</button>
	</div>
	<div class="lg:w-full flex-grow lg:flex lg:items-center hidden">
		<div class="flex items-center flex-shrink-0 text-white mr-6">
			<span class="font-semibold text-xl tracking-tight"
				>Holiday Planner</span
			>
		</div>
		<div class="text-sm lg:flex-grow">
			<a
				routerLink="/Home"
				class="inline-block mt-0 text-teal-200 hover:text-white mr-4"
			>
				Calander
			</a>
		</div>
		<div>
			<a
				href="#responsive-header"
				class="inline-block mt-0 text-teal-200 hover:text-white mr-4"
				routerLink="/MyTrips"
			>
				MyTrips
			</a>
			<a
				href="#"
				class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
				>{{ user?.email }}</a
			>
			<a
				class="ml-2 bg-teal-200 text-white p-2 rounded-xl"
				(click)="logout()"
				>Sign Out</a
			>
		</div>
	</div>
	<div
		class="w-full block flex-grow lg:flex lg:items-center lg:w-auto"
		*ngIf="showMenu"
	>
		<div class="text-sm lg:flex-grow">
			<a
				routerLink="/Home"
				class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"
			>
				Calander
			</a>
		</div>
		<div>
			<a
				href="#responsive-header"
				class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"
				routerLink="/MyTrips"
			>
				MyTrips
			</a>
			<a
				href="#"
				class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"
				>{{ user?.email }}</a
			>
			<a
				class="ml-2 bg-teal-200 text-white p-2 rounded-xl"
				(click)="logout()"
				>Sign Out</a
			>
		</div>
	</div>
</nav>
<div class="bg-teal-400 min-h-screen" *ngIf="!update">
	<h1 class="text-3xl text-white flex justify-center pt-10 mb-10">
		Trip Details
	</h1>
	<div
		class="bg-teal-200 py-4 shadow-lg non-italic rounded-xl mx-2 sm:mx-10 md:mx-20 lg:mx-96 xl:mx-96"
	>
		<h1
			class="flex pt-10 mb-6 font-bold justify-center ml-4 text-lg sm:text-lg md:text-2xl lg:text-4xl"
		>
			Trip to {{ (trip | async)?.name }}
		</h1>

		<p
			class="ml-10 text-slate-500 text-xs sm:text-sm md:text-lg lg:text-xl"
		>
			<b>Duration:</b>
			{{ (trip | async)?.startDate | date: "mediumDate" }} -
			{{ (trip | async)?.endDate | date: "mediumDate" }}
		</p>
		<div
			class="flex justify-center text-xs mt-3 py-4 mx-10 non-italic pb-4 sm:text-sm md:text-lg lg:text-xl"
		>
			{{ (trip | async)?.desc }}
		</div>
	</div>

	<div class="flex justify-center mt-4">
		<button
			(click)="updateToggle()"
			class="bg-yellow-300 px-6 py-2 rounded-md mr-4"
		>
			Update
		</button>
		<button
			class="text-white bg-red-400 px-6 py-2 rounded-md"
			(click)="deleteTrip()"
			[routerLink]="['/MyTrips']"
		>
			Delete trip
		</button>
	</div>
	<app-my-events></app-my-events>
</div>

<div
	class="h-screen bg-teal-400 flex justify-center items-center"
	*ngIf="update"
>
	<div class="lg:w-2/5 md:w-1/2 w-2/3">
		<div class="bg-teal-200 h-full p-10 rounded-lg shadow-lg">
			<button
				(click)="updateToggle()"
				class="bg-teal-400 px-10 py-3 rounded-xl"
			>
				Back
			</button>
			<h1 class="text-3xl text-white flex justify-center pt-4 mb-10">
				Update Trip
			</h1>
			<form [formGroup]="updateTripForm!" class="">
				<p
					class="text-gray-800 font-semibold text-md flex justify-center"
				>
					Trip Name:
				</p>
				<input
					formControlName="tripName"
					class="flex justify-center w-full rounded-xl h-8 mb-4 mt-4 text-center"
					value="{{ (trip | async)?.name }}"
				/>
				<div
					*ngIf="updateTripForm!.controls['tripName'].invalid"
					class="text-red-400"
				>
					Enter a trip Name
				</div>
				<p
					class="text-gray-800 font-semibold text-md flex justify-center"
				>
					Trip Desc
				</p>
				<input
					formControlName="tripDesc"
					class="flex justify-center w-full rounded-xl h-8 mb-4 mt-4 text-center"
					value="{{ (trip | async)?.desc }}"
				/>
				<div
					*ngIf="updateTripForm!.controls['tripDesc'].invalid"
					class="text-red-400"
				>
					Enter a trip description
				</div>
				<p
					class="text-gray-800 font-semibold text-md flex justify-center"
				>
					Trip Start Date
				</p>
				<input
					formControlName="tripStart"
					class="flex justify-center w-full rounded-xl h-8 mb-4 mt-4 text-center"
					type="date"
					value="{{ (trip | async)?.startDate }}"
				/>
				<div
					*ngIf="updateTripForm!.controls['tripStart'].invalid"
					class="text-red-400"
				>
					Select a date
				</div>
				<p
					class="text-gray-800 font-semibold text-md flex justify-center"
				>
					Trip End Date
				</p>
				<input
					formControlName="tripEnd"
					class="flex justify-center w-full rounded-xl h-8 mb-4 mt-4 text-center"
					type="date"
					value="{{ (trip | async)?.endDate }}"
				/>
				<div
					*ngIf="updateTripForm!.controls['tripEnd'].invalid"
					class="text-red-400"
				>
					Select A Date
				</div>
				<div class="flex justify-center">
					<button
						(click)="updateTrip()"
						class="bg-teal-400 px-10 py-3 rounded-xl"
					>
						Update
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
